//* Show Page

.showpage-wrapper {
  // padding-top: 70px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    padding: 20px;
  }
  height:  640px;
  
}


.showpage-main-content {
  display: flex;
  justify-content: center;
}

.photo-map-tabs-wrapper, .showpage-info-wrapper {
  flex-grow: 1;
  width: 440px;
}

.showpage-info-wrapper {
  margin: 10px;
}

.photo-map-tabs-wrapper {
  height: 440px;
}

.showpage-text-wrapper {
  padding: 20px;
  margin-top: 20px;
}

.show-page-favourites {
  display: flex;
  width: max-content;
}

.added-by{
 margin-left: auto;
 order: 2;
}

.tags-header-showpage {
  margin-right: auto;
 order: 2;
}

.showpage-interactions-panel {
  display: flex;
  width: 440px;
}

.showpage-comments-wrapper {
  width: 400px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.showpage-tags-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
}

.category-tag {
  margin: 10px;
}

.show-page-slider-container {
  margin: 10px;
  width: 1000px;
}

.showpage-slider-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.showpage-card-image {
  height: 300px;
  width: 420px;
  // margin: 5px;
  object-fit: cover;
  // border-radius: 5%;
  margin: 0 5px 0 0;
}


@media only screen and (max-width: 880px) {
  .showpage-main-content {
    flex-direction: column;
  }

  h1 {
    text-align: Center;
  }
  .showpage-interactions-panel {
    width: 440px;
  }
  .photo-map-tabs-wrapper, .showpage-info-wrapper {
    margin: 0px;
  }
  .showpage-slider-section {
    display: none;
  }
}