//* Show Page

.showpage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Comfortaa', cursive;
  }
}

.showpage-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-map-tabs-wrapper, .showpage-info-wrapper {
  flex-grow: 1;
  width: 440px;
}

.showpage-text-wrapper {
  padding: 20px;
}

@media only screen and (max-width: 880px) {
  .showpage-main-content {
    flex-direction: column;
  }
}