.category-page-tags {
  margin: 15px;
  // margin-top: 90px;
}

.category-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category-card {
  width: 400px;
  height: 300px;
}

.category-page-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.category-tag {
  margin: 5px;
  transition: button .5s ease-in-out;
  position: relative;
  // height: 50px;
}

.category-tag:hover{
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: top center;
}

// .category-card-content {
//   width: 400px;
//   // height: 400px;
// }

.image-card-wrapper {
  // width: 100%;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card-image {
  height: 190px;
  width: 270px;
  // margin: 5px;
  object-fit: cover;
}



.category-card-content {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-card-header, .category-card-info {
  height: 50px;
}

.category-card-header {
  text-align: center;
}

