@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import '_slick.scss';
@import '_slickTheme.scss';

.slider-container {
  margin: 40px 0 0 20px;
}

.featured-list {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  margin-left: 60px;
}

.tag-wrapper{
  display: flex;
  overflow-x: hidden;
}

h6{
  margin-top: 10px;
  margin-left: 25px;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

.img-wrapper{
  transition: .3s ease-in-out
}

.img-wrapper:hover{
  transform: scale(1.05); 

}

.category-wrapper{
  position: relative;
  width: 90px;     
  height: 75px;
  overflow: hidden;
  margin-left: 40px;
  border: 5px solid white;
  border-radius: 15px;
  margin-bottom: 30px;


  img {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate( -50%, -50%);
  }
}

.tag-wrapper{
  height: 300px;
  display: flex;
  align-items: space-around;
}

.user-tags{
  display: flex;
  align-items: center;
  margin-left: 65px;
  margin-bottom: 40px;
}

.user-label-tags{
  font-family: 'Comfortaa', cursive;
  padding: .8rem 1.25rem;
  border: 1px solid grey;
  margin-right: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  color: grey;
}

.user-label-tags:hover {
  background-color: rgba(238, 238, 238, 1);
}

.categories-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  width: 90%;
  .column{
    .card {
      display: flex;
      align-items: center;
      h6{
        margin: 0;
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 30px;
        width: 120px;
      }
    }
  }
}