@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import '_slick.scss';
@import '_slickTheme.scss';

.slider-container {
  margin: 40px 0 0 20px;
}

.featured-list {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  margin-left: 20px;
}